:root {
    --bg: #F4F7F6;
    --text: #1D1D1F;
    --text-w: #F4F7F6;
    --gold: #FBA816;
    --gold2: #ffb93e;
    --gold-old: #FBA818;
    --btn-gold: #CE8404;
    --line-gold: rgba(251, 167, 22, 0.4);
    --text-input: #111111;
    --line: rgba(29, 29, 31, 0.3);
    --line2: rgba(29, 29, 31, 0.1);
    --footer-text: #8F9996;
    --gray-bl: #E7E9EB;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Open Sans', 'Arial', sans-serif;
    background-color: var(--bg);
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text);
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

h1 {
    font-size: 54px;
    line-height: 112.5%;
}

h2 {
    font-size: 36px;
    line-height: 125%;
}

h3 {
    font-size: 24px;
    line-height: 150%;
}

.d-t {
    font-size: 14px;
    line-height: 150%;
}

.container {
        width: 1366px;
        margin: 0 auto;
        transform: translate3d(35px, 0, 0);
    }

.btn {
    display: inline-block;
    background-color: var(--gold);
    color: var(--text);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--btn-gold);
    color: var(--text-w);
}

.el {
    opacity: 0;
}

.el-show {
    opacity: 1;
    transition: all 1s;
}

.menu-fixed {
    position: fixed;
    left: 0;
    top: 0;
    padding: 72px 20px;
    height: 100vh;
    z-index: 105;
    background-color: var(--bg);
    border-right: 1px solid var(--line);
}

.menu-fixed .container-m {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.menu-fixed .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-fixed .burger div {
    position: relative;
    width: 30px;
    height: 1px;
    background-color: var(--text);
    transform: translateY(50%);
}

.menu-fixed .burger div::after,
.menu-fixed .burger div::before {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: var(--text);
}

.menu-fixed .burger div::after {
    top: -7px;
}

.menu-fixed .burger div::before {
    bottom: -7px;
}

.menu-fixed .social .img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-top: 18px;
    display: block;
}

.menu-fixed .social .img:first-of-type {
    margin-top: 0;
}

.menu-fixed .social .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 775px;
    position: relative;
    background-color: var(--text);
    color: var(--text-w);
    padding: 23px 0 95px 0;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: .3;
}

header .header {
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}

header .header a {
    color: var(--text-w);
}

header .header .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .header .info .logo {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

header .header .info .logo .img {
    margin-right: 18px;
    width: 89px;
    height: 75px;
}

header .header .info .logo .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .header .info .logo .logo-text {
    font-size: 36px;
    font-weight: 600;
}

header .header .info .logo .logo-text span {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gold);
}

header .info-block {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

header .info-block .address {
    display: inline-block;
}

header .info-block .address span {
    display: inline-block;
}

header .info-block h1 {
    width: 800px;
    margin-bottom: 18px;
}

header .info-block span:nth-of-type(1) {
    margin-bottom: 36px;
}

header .info-block .btn-block {
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .info-block .btn-block .img {
    /* width: 70%; */
    margin-left: 16px;
    height: auto;
    display: none;
    flex: 1;
}

header .info-block .btn-block .img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

header .info-block .btn-block span {
    margin-bottom: 0!important;
    height: 100%;
}

section:first-of-type {
    padding: 120px 0 60px;
}

section {
    padding: 60px 0;
}

section#price {
    padding: 60px 0 36px;
}

section#application {
    padding: 0 0 60px 0;
}

section#price {
    padding: 60px 0 36px;
}

section h1 {
    width: 700px;
    margin-bottom: 54px;
}

section .WhyWe h1,
section .documents h1 {
    margin-bottom: 24px;
}

.WhyWe .info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.WhyWe .info-block .block {
    width: 45%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(29, 29, 31, 0.4);
}

.WhyWe .info-block .block .block-min {
    position: relative;
    padding: 36px;
    background-color: var(--text);
    height: 100%;
    border-radius: 10px;
}

.WhyWe .info-block .block .block-min span {
    position: relative;
    display: block;
    font-weight: bold;
    margin-bottom: 18px;
    color: var(--gold);
    z-index: 1;
}

.WhyWe .info-block .block .block-min .text {
    position: relative;
    color: var(--text-w);
    z-index: 1;
}

.WhyWe .info-block .block .block-min::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text);
    border-radius: 10px;
    opacity: .7;
}

.WhyWe .info-block .block:nth-of-type(1) .block-min,
.WhyWe .info-block .block:nth-of-type(2) .block-min,
.WhyWe .info-block .block:nth-of-type(3) .block-min,
.WhyWe .info-block .block:nth-of-type(4) .block-min {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.WhyWe .info-block .block:nth-of-type(1) .block-min {
    background-image: url('../image/WhyWe/quality-training.png');
}

.WhyWe .info-block .block:nth-of-type(2) .block-min {
    background-image: url('../image/WhyWe/vip.jpg');
}

.WhyWe .info-block .block:nth-of-type(3) .block-min {
    background-image: url('../image/WhyWe/excellent-base.png');
}

.WhyWe .info-block .block:nth-of-type(4) .block-min {
    background-image: url('../image/WhyWe/training-format.jpg');
}

.process .info-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.process .info-block .block {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 134px;
}

.process .info-block .block:last-of-type {
    margin-bottom: 25px;
}

.process .info-block .block .img {
    position: relative;
    /* width: 490px;
    height: 328px; */
    width: 546px;
    height: 365px;
    margin-right: 134px;
}

.process .info-block .block .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.process .info-block .block .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text);
    border-radius: 10px;
    opacity: .3;
}

.process .info-block .block .info {
    flex: 1;
}

.process .info-block .block .info .text {
    margin-top: 36px;
}

.process .info-block .block .info .text p:first-of-type {
    margin-top: 0;
}

.process .info-block .block .info .text p:last-of-type {
    margin-bottom: 0;
}

.process .info-block .block .img .num {
    position: absolute;
    font-size: 96px;
    font-weight: 800;
    color: var(--gold);
    right: -60px;
    bottom: -60px;
    line-height: 125%;
}

.process .info-block .block:nth-of-type(2n) .img {
    order: 2;
    margin-left: 134px;
    margin-right: 0;
}

.process .info-block .block:nth-of-type(2n) .img .num {
    right: auto;
    left: -60px;
}

.price .info-block .block {
    position: relative;
    background: var(--text);
    color: var(--text-w);
    padding: 39px 34px;
    border-radius: 10px;
    z-index: 1;
    min-height: 481px;
    display: flex!important;
    flex-wrap: wrap;
    align-items: flex-end;
}

.price .info-block .block .text {
    position: relative;
    border-top: 1px solid var(--text-w);
    border-bottom: 1px solid var(--text-w);
    padding: 5px 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.price .info-block .block .text h2 {
    text-align: center;
    min-height: 90px;
    transition: all .6s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price .info-block .block .text .info {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .6s;
}

.price .info-block .block:hover .text .info {
    margin: 36px 0;
    max-height: 450px;
    opacity: 1;
}

.price .info-block .block .text .info .money {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

.price .info-block .block .text .info .money span {
    font-weight: 600;
}

.price .info-block .block .text .info .desc {
    position: relative;
    margin-bottom: 18px;
    padding-left: 38px;
}

.price .info-block .block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text);
    opacity: .3;
    z-index: 0;
    border-radius: 10px;
    transition: all .3s;
}

.price .info-block .block:hover::before {
    opacity: .8;
}

.price .info-block .block1,
.price .info-block .block2,
.price .info-block .block3,
.price .info-block .block4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.price .info-block .block1 {
    background-image: url('../image/price/img1.jpg');
}

.price .info-block .block2 {
    background-image: url('../image/price/img2.jpg');
}

.price .info-block .block3 {
    background-image: url('../image/price/img3.jpg');
}

.price .info-block .block4 {
    background-image: url('../image/price/img2.jpg');
}

.price .info-block .block .text .info .desc::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../image/bullet-point.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.application .block {
    margin: 0 64px;
    padding: 18px 72px;
    background-color: var(--gold2);
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.application .block h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 18px;
}

.application .block span {
    text-align: center;
    display: block;
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba(29, 29, 31, 0.1);
}

.application .block form,
.modal .modal-body form {
    display: flex;
    justify-content: space-between;
}

.application .block form input,
.modal .modal-body form input {
    padding: 8px 14px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid rgba(29, 29, 31, 0.3);
    background: transparent;
    margin-right: 15px;
    font-size: 18px;
}

.application .block form input:last-of-type,
.modal .modal-body form input:last-of-type {
    margin-right: 0;
}

.application .block form input[type='submit'],
.modal .modal-body form input[type='submit'] {
    color: var(--text);
    cursor: pointer;
    width: auto;
    flex: 1;
    transition: all .3s;
}

.application .block form input[type='submit']:hover,
.modal .modal-body form input[type='submit']:hover {
    background-color: var(--btn-gold);
}

input::-webkit-input-placeholder {
    color: rgba(17, 17, 17, 0.5);
}

.application .block .agreement,
.modal .modal-body .agreement {
    color: rgba(29, 29, 31, 0.3);
    margin-top: 18px;
    width: 478px;
    font-size: 14px;
}

.application .block .agreement a,
.modal .modal-body .agreement a {
    color: rgba(29, 29, 31, 0.3);
    text-decoration: underline;
}

.application .block form input:nth-of-type(1),
.application .block form input:nth-of-type(2),
.modal .modal-body form input:nth-of-type(1),
.modal .modal-body form input:nth-of-type(2) {
    flex: 3;
}

.reviews .info-block {
    display: flex;
    flex-wrap: wrap;
}

.reviews .info-block .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin-bottom: 36px; */
    margin-bottom: 20px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
}

.reviews .info-block .block:last-of-type {
    margin-bottom: 0;
}

.reviews .info-block .block .comments-text {
    flex: 1;
}

.reviews .info-block .block .img {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.reviews .info-block .block .img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--text);
    border-radius: 10px;
    top: -10px;
    left: -10px;
}

.reviews .info-block .block .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}

.reviews .info-block .block .line {
    width: 1px;
    height: 50%;
    background-color: var(--line);
    margin: 0 18px;
}

.reviews .info-block .block h3 {
    margin-bottom: 18px;
}

.reviews .info-reviews {
    margin-top: 54px;
}

.address .info-block {
    display: flex;
    justify-content: space-between;
}

.address .map {
    width: 73%;
    margin-left: 70px;
}

.address .info-block .address-info {
    width: 27%;
    background-color: var(--gold2);
    padding: 30px;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

.address .info-block .address-info .classes {
    margin-top: 18px;
}

.address .info-block .address-info .classes .classes-name .name {
    font-weight: 600;
    margin-top: 18px;
}

.address .info-block .address-info h3 {
    padding-bottom: 18px;
    border-bottom: 1px solid var(--line);
}

.address .info-block .address-info ul {
    margin: 18px 0 0 0;
    padding: 0;
}

.address .info-block .address-info ul li {
    list-style: none;
    margin-bottom: 18px;
    position: relative;
    padding: 0 0 0 38px;
}

.address .info-block .address-info ul li:last-of-type {
    margin-bottom: 0;
}

.address .info-block .address-info ul li::before {
    background-image: url('../image/bullet-point-black.svg');
}

.requisites .info-block ul li::before {
    background-image: url('../image/bullet-point-gold.svg');
}

.address .info-block .address-info ul li::before,
.requisites .info-block ul li::before,
.information .info-block ul li:before,
.admin .info-block .panel .function ul li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.information .info-block ul li:before {
    width: 36px;
    height: 36px;
}

footer {
    width: 100%;
    padding-bottom: 60px;
}

footer .footer {
    display: flex;
    justify-content: space-between;
}

footer .footer .logo .img svg path {
    fill: var(--text);
}

footer .footer .logo {
    flex: 1;
    margin-right: 32px;
}

footer .footer .logo .block-main {
    height: 100%;
    display: inline-block;
}

footer .footer .logo .block-main .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer .footer .info {
    flex: 3;
}

footer .footer .logo span {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

footer .footer .logo .img {
    height: 105px;
    width: 125px;
}

footer .footer .logo .img svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

footer .footer .info ul {
    padding: 0;
    margin: 0;
}

footer .footer .info ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid var(--line);
    padding-bottom: 18px;
    margin-top: 18px;
}

footer .footer .info ul li:last-of-type {
    border-bottom: 4px solid var(--text);
}

footer .footer .info ul li:first-of-type {
    margin-top: 0;
}

footer .footer .info ul li .info-text {
    font-size: 20px;
    color: var(--footer-text);
    margin-right: 10px;
}

footer .footer .info ul li:nth-of-type(1) .info-text {
    color: var(--text);
}

footer .footer .info ul li .data-text {
    font-size: 32px;
    font-weight: 600;
    text-align: right;
}

footer .footer .info .additionally {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

footer .footer .info .additionally .img {
    height: 36px;
    width: auto;
}

footer .footer .info .additionally .img img {
    height: 100%;
}

.burger .hamburger {
    position: relative;
    width: 30px;
    height: 1px;
    background: var(--text);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.burger .hamburger:after,
.burger .hamburger:before {
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--text);
    transition: .5s ease-in-out;
}

.burger .hamburger:before {
    top: -7px;
}

.burger .hamburger:after {
    bottom: -7px;
}

.burger.burger-open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.burger-open .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

.burger.burger-open .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

.scroll-none {
    overflow: hidden;
    padding-right: 17px;
}

.menu-fixed .menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: var(--bg);
    border-radius: 0 0 300% 0;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.open {
    width: 100vw!important;
    height: 100vh!important;
    /* background: var(--gold)!important; */
    z-index: 0;
    border-radius: 0!important;
    z-index: 99;
}

.menu-fixed .menu .menu-open {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    padding: 72px 0;
    transform: translateX(-50%);
}

.menu-fixed .menu .menu-a {
    margin-top: -13px;
    max-height: 500px;
    overflow-y: auto;
}

.menu-fixed .menu .menu-a ul {
    margin: 0;
    padding: 0;
}

.menu-fixed .menu .menu-a ul li {
    list-style: none;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.menu-fixed .menu .menu-a ul li.active {
    font-weight: 600;
}

.menu-fixed .menu .menu-a ul li:last-of-type {
    margin-bottom: 0;
}

.menu-fixed .menu .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.menu-fixed .menu .info .social-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-fixed .menu .info .social-menu .img {
    width: 30px;
    height: 30px;
    margin-right: 18px;
}

.menu-fixed .menu .info .social-menu .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-fixed .menu .info .social-menu .img:last-of-type {
    margin-right: 0;
}

.menu-fixed .menu .info .email {
    text-align: right;
}

.menu-fixed .menu .info .phone,
.menu-fixed .menu .info .social-menu,
.menu-fixed .menu .info .email {
    flex: 1;
}

.menu-fixed .menu .menu-open .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.menu-fixed .menu .menu-open marquee {
    width: 100vw;
    font-size: 96px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 125%;
    margin-top: 18px;
    color: var(--gold);
}

.modal .modal-dialog .modal-content .modal-body {
    position: relative;
}

.modal .modal-dialog .modal-content .modal-body button {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.modal .modal-dialog .modal-content .modal-body .stock {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--line2);
}

.modal .modal-dialog .modal-content .modal-body .stock .block {
    width: 70%;
}

.modal .modal-dialog .modal-content .modal-body .stock .block div {
    white-space: nowrap;
    display: contents;
}

#application-modal .modal-dialog .modal-content .modal-body .stock .block {
    width: 100%;
}

.modal .modal-dialog .modal-content .modal-body .stock .block h2 {
    margin-bottom: 18px;
}

.modal .modal-dialog .modal-content .modal-body .stock .stock-animation {
    position: absolute;
    top: -35px;
    right: 0;
    transform: translateY(-50%);
    animation: rotate 10s linear infinite;
}

.modal .modal-dialog .modal-content .modal-body .form {
    margin-top: 18px;
}

.modal .modal-body form input[type='submit'] {
    background-color: var(--gold);
    color: var(--text-w);
    border: 0;
    font-weight: normal;
    position: relative;
    z-index: 30;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.documents .info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.documents .info-block .block {
    width: 45%;
    margin-top: 30px;
    padding: 18px;
    border-radius: 10px;
    background-color: var(--gray-bl);
}

.documents .info-block .block:nth-of-type(2n-1) {
    margin-right: 30px;
}

.documents .info-block .block h3 {
    padding-bottom: 36px;
    border-bottom: 1px solid var(--line);
    margin-bottom: 10px;
}

.documents .info-block .block .btn {
    color: var(--text-w);
}

section.page {
    padding: 72px 0 90px;
}

.phone-mob {
    margin-right: 20px;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.phone-mob .img-phone {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.phone-mob .img-phone img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.requisites .info-block ul,
.information .info-block ul {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.requisites .info-block ul li,
.information .info-block ul li {
    list-style: none;
    margin-bottom: 18px;
    position: relative;
    padding: 0 0 0 38px;
}

.requisites .info-block ul li:last-of-type,
.information .info-block ul li:last-of-type {
    margin-bottom: 0;
}

.information .info-block ul li {
    margin-top: 18px;
    padding: 0 0 0 54px;
}

.information .info-block ul li:first-of-type {
    margin-top: 0;
}

.information .info-block ul li a {
    padding-bottom: 6px;
    border-bottom: 1px solid var(--line);
}

.information .info-block ul li:nth-of-type(1):before {
    background-image: url('../image/information/img1.svg');
}

.information .info-block ul li:nth-of-type(2):before {
    background-image: url('../image/information/img2.svg');
}

.information .info-block ul li:nth-of-type(3):before {
    background-image: url('../image/information/img3.svg');
}

.information .info-block ul li:nth-of-type(4):before {
    background-image: url('../image/information/img4.svg');
}

.information .info-block ul li:nth-of-type(5):before {
    background-image: url('../image/information/img4.svg');
}

.information .info-block ul li:nth-of-type(6):before {
    background-image: url('../image/information/img5.svg');
}

.information .info-block ul li:nth-of-type(7):before {
    background-image: url('../image/information/img6.svg');
}

.information .info-block ul li:nth-of-type(8):before {
    background-image: url('../image/information/img7.svg');
}

.information .info-block ul li:nth-of-type(9):before {
    background-image: url('../image/information/img8.svg');
}

.information .info-block ul li:nth-of-type(10):before {
    background-image: url('../image/information/img8.svg');
}

.information .info-block ul li:nth-of-type(11):before {
    background-image: url('../image/information/img8.svg');
}

.information .info-block ul li:nth-of-type(12):before {
    background-image: url('../image/information/img9.svg');
}

.information .info-block ul li:nth-of-type(13):before {
    background-image: url('../image/information/img10.svg');
}

.information .info-block ul li:nth-of-type(14):before {
    background-image: url('../image/information/img11.svg');
}

.dop-page h1 {
    width: 100%;
}

.page-auth {
    position: relative;
    background-image: url('../image/line.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.page-auth .auto {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 70%;
}

.auth form {
    display: flex;
    flex-direction: column;
    width: 362px;
}

.auth form input:not(input[type="button"]),
.admin .info-block .info #training-system-id .student-functions .form-edit form input:not(input[type="button"]),
.admin .info-block .info form input:not(input[type="button"]) {
    border: 1px solid var(--line);
    border-radius: 5px;
    outline: none;
    padding: 14px;
    font-size: 18px;
    margin-bottom: 18px;
    background-color: var(--bg);
    width: 100%;
}

.auth form input:not(input[type="button"]):last-of-type,
.admin .info-block .info #training-system-id .student-functions .form-edit form input:not(input[type="button"]):last-of-type {
    margin-bottom: 36px;
}

.admin .info-block {
    display: flex;
    justify-content: space-between;
}

.admin .info-block .panel,
.admin .info-block .info {
    width: 50%;
}

.admin .info-block .panel {
    padding-right: 50px;
    border-right: 1px solid var(--line);
}

.admin .info-block .info {
    padding-left: 50px;
}

.admin .info-block .panel .function ul {
    margin: 36px 0 0 0;
    padding: 0;
}

.admin .info-block .panel .function ul li {
    list-style: none;
    margin-bottom: 18px;
    position: relative;
    padding: 0 0 0 38px;
    cursor: pointer;
}

.admin .info-block .panel .function ul li:nth-of-type(1):before {
    background-image: url('../image/admin/img1.svg');
}
.admin .info-block .panel .function ul li:nth-of-type(2):before {
    background-image: url('../image/admin/img2.svg');
}
.admin .info-block .panel .function ul li:nth-of-type(3):before {
    background-image: url('../image/admin/img3.svg');
}
.admin .info-block .panel .function ul li:nth-of-type(4):before {
    background-image: url('../image/admin/img4.svg');
}
.admin .info-block .panel .function ul li:nth-of-type(5):before {
    background-image: url('../image/admin/img4.svg');
}
.admin .info-block .panel .function ul li:nth-of-type(6):before {
    background-image: url('../image/admin/img5.svg');
}
.admin .info-block .panel .function ul li:nth-of-type(7):before {
    background-image: url('../image/admin/img6.svg');
}

.admin .info-block .info .block,
.admin .info-block .info .student-functions .form-edit {
    display: none;
}

.admin .info-block .info .block.active,
.admin .info-block .info .student-functions .form-edit.active {
    display: block;
}

.admin .info-block .panel .function ul li.active {
    font-weight: 600;
}

.admin .info-block .info .block .training-system {
    display: inline-block;
    margin-top: 18px;
}

.admin .info-block .info #training-system-id .student-functions > ul li {
    display: inline-block;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    padding-bottom: 6px;
    cursor: pointer;
    margin-right: 18px;
    padding-top: 10px;
}

.admin .info-block .info #training-system-id .student-functions ul li.active {
    border-bottom: 1px solid var(--line);
    font-weight: 600;
}

.admin .info-block .info #training-system-id .student-functions ul {
    display: flex;
    margin-bottom: 33px;
}

.admin .info-block .info #training-system-id .student-functions .form-edit form {
    display: flex;
    flex-direction: column;
}

.admin .info-block .info #training-system-id .student-functions {
    margin-top: 26px;
}

.admin .info-block .info #training-system-id .student-functions .form2-student ul,
.admin .info-block .info #training-system-id .student-functions .form3-student ul {
    display: flex;
    flex-direction: column;
}

.admin .info-block .info #training-system-id .student-functions .form-student .form2-student ul li .textLabel input[type="radio"] {
    display: none;
}

.admin .info-block .info #training-system-id .student-functions .form-student .form2-student ul li .textLabel > span,
.admin .info-block .info #training-system-id .student-functions .form-student .form3-student ul li > a {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--bg);
    border: 1px solid var(--line);
    margin-bottom: 5px;
    position: relative;
    transition: border .3s;
    cursor: pointer;
}


.admin .info-block .info #training-system-id .student-functions .form2-student ul li .textLabel > span:hover,
.admin .info-block .info #training-system-id .student-functions .form3-student ul li > a:hover {
    border: 1px solid var(--line2);
}

.admin .info-block .info #training-system-id .student-functions .form2-student ul li:last-of-type,
.admin .info-block .info #training-system-id .student-functions .form3-student ul li:last-of-type {
    margin-bottom: 0;
}

.admin .info-block .info #training-system-id .student-functions .form-student .form2-student ul li .textLabel > span::before, 
.admin .info-block .info #training-system-id .student-functions .form-student .form3-student ul li > a::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateY(-50%);
    opacity: .3;
    transition: opacity .3s;
}

.admin .info-block .info #training-system-id .student-functions .form-student .form2-student ul li .textLabel > span:hover::before, 
.admin .info-block .info #training-system-id .student-functions .form-student .form3-student ul li > a:hover::before {
    opacity: 1;
}

.admin .info-block .info #training-system-id .student-functions .form-student .form2-student ul li .textLabel > span::before {
    background-image: url('../image/edit.svg');
}
.admin .info-block .info #training-system-id .student-functions .form-student .form3-student ul li > a::before {
    background-image: url('../image/close.svg');
}

.admin #stocks-block-admin form {
    margin-top: 33px;
    border-bottom: 1px solid var(--line2);
    padding-bottom: 33px;
}

.admin #stocks-block-admin form:last-of-type {
    border: 0;
    padding-bottom: 0;
}

.admin #stocks-block-admin .onOffStocksBlock .info-text {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.admin #stocks-block-admin .onOffStocksBlock .info-text input[type="checkbox"] {
    width: auto;
    margin: 0;
}

.admin #stocks-block-admin .onOffStocksBlock .info-text label {
    padding-right: 10px;
}

.admin .info-block .info .services .student-functions .form-student .form1-student form .desc input:not(input[type="button"]) {
    margin-bottom: 0!important;
}

.admin .info-block .info .services .student-functions .form-student .form1-student form .desc input:not(input[type="button"]):last-of-type {
    margin-bottom: 0!important;
}

.admin .info-block .info .services .student-functions .form-student .form1-student form .desc {
    margin-bottom: 18px;
}

.admin .info-block .info .services .student-functions .form-student .form1-student form .desc span {
    font-size: 14px;
    padding-left: 8px;
}

.admin .info-block .info .services .student-functions .form-student .form1-student form .desc:nth-of-type(4) {
    margin-bottom: 36px;
}

form.editForm {
    padding: 0 10px;
    margin-bottom: 36px;
}

form.editForm input:not(input[type="button"]) {
    margin-bottom: 5px!important;
}

form.editForm input:not(input[type="button"]):last-of-type {
    margin-bottom: 15px!important;
}