:root {
    --bg: #F4F7F6;
    --text: #1D1D1F;
    --text-w: #F4F7F6;
    --gold: #FBA816;
    --btn-gold: #CE8404;
    --text-input: #111111;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Montserrat Alternates', 'Arial', sans-serif;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    background-color: var(--bg);
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text);
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

h1 {
    font-size: 54px;
    line-height: 112.5%;
}

h2 {
    font-size: 36px;
    line-height: 125%;
}

.d-t {
    font-size: 14px;
    line-height: 150%;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: var(--gold);
    color: var(--text);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--btn-gold);
    color: var(--text-w);
}

.el {
    opacity: 0;
}

.el-show {
    opacity: 1;
    transition: all 1s;
}

.menu-fixed {
    position: fixed;
    left: 0;
    top: 0;
    padding: 72px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 999;
    background-color: var(--bg);
}

.menu-fixed .burger {
    width: 30px;
    cursor: pointer;
}

.menu-fixed .burger div {
    width: 100%;
    height: 1px;
    background-color: var(--text);
    margin-top: 7px;
}

.menu-fixed .burger div:first-of-type {
    margin-top: 0;
}

.menu-fixed .social .img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-top: 18px;
    display: block;
}

.menu-fixed .social .img:first-of-type {
    margin-top: 0;
}

.menu-fixed .social .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 424px;
    position: relative;
    background-color: var(--text);
    color: var(--text-w);
    padding: 23px 0 95px 0;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: .3;
}

header .header {
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}

header .header a {
    color: var(--text-w);
}

header .header .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .header .info .logo {
    display: flex;
    align-items: center;
}

header .header .info .logo .img {
    margin-right: 18px;
    width: 89px;
    height: 75px;
}

header .header .info .logo .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .header .info .logo .logo-text {
    font-size: 36px;
    font-weight: 600;
}

header .header .info .logo .logo-text span {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gold);
}

header .info-block {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

header .info-block .address {
    display: inline-block;
}

header .info-block .address span {
    display: inline-block;
}

header .info-block h1 {
    width: 800px;
    margin-bottom: 18px;
}

header .info-block span:nth-of-type(1) {
    margin-bottom: 36px;
}

header .info-block .btn-block {
    margin-bottom: 54px;
}

section:first-of-type {
    padding: 120px 0 60px;
}

section {
    padding: 60px 0;
}

section#price {
    padding: 60px 0 36px;
}

section#application {
    padding: 0 0 60px 0;
}

section#price {
    padding: 60px 0 36px;
}

section h1 {
    width: 700px;
    margin-bottom: 54px;
}

section.WhyWe h1 {
    margin-bottom: 24px;
}

.WhyWe .info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.WhyWe .info-block .block {
    width: 45%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(29, 29, 31, 0.4);
}

.WhyWe .info-block .block .block-min {
    position: relative;
    padding: 36px;
    background-color: var(--text);
    height: 100%;
    border-radius: 10px;
}

.WhyWe .info-block .block .block-min span {
    position: relative;
    display: block;
    font-weight: bold;
    margin-bottom: 18px;
    color: var(--gold);
    z-index: 1;
}

.WhyWe .info-block .block .block-min .text {
    position: relative;
    color: var(--text-w);
    z-index: 1;
}

.WhyWe .info-block .block .block-min::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text);
    opacity: .7;
}

.WhyWe .info-block .block:nth-of-type(1) .block-min,
.WhyWe .info-block .block:nth-of-type(2) .block-min,
.WhyWe .info-block .block:nth-of-type(3) .block-min,
.WhyWe .info-block .block:nth-of-type(4) .block-min {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.WhyWe .info-block .block:nth-of-type(1) .block-min {
    background-image: url('../image/WhyWe/quality-training.png');
}

.WhyWe .info-block .block:nth-of-type(2) .block-min {
    background-image: url('../image/WhyWe/vip.jpg');
}

.WhyWe .info-block .block:nth-of-type(3) .block-min {
    background-image: url('../image/WhyWe/excellent-base.png');
}

.WhyWe .info-block .block:nth-of-type(4) .block-min {
    background-image: url('../image/WhyWe/training-format.jpg');
}

.process .info-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.process .info-block .block {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 134px;
}

.process .info-block .block .img {
    position: relative;
    /* width: 490px;
    height: 328px; */
    width: 546px;
    height: 365px;
    margin-right: 134px;
}

.process .info-block .block .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.process .info-block .block .info {
    flex: 1;
}

.process .info-block .block .info .text {
    margin-top: 36px;
}

.process .info-block .block .info .text p:first-of-type {
    margin-top: 0;
}

.process .info-block .block .info .text p:last-of-type {
    margin-bottom: 0;
}

.process .info-block .block .img .num {
    position: absolute;
    font-size: 96px;
    font-weight: 800;
    color: var(--gold);
    right: -60px;
    bottom: -60px;
    line-height: 125%;
}

.process .info-block .block:nth-of-type(2n) .img {
    order: 2;
    margin-left: 134px;
    margin-right: 0;
}

.process .info-block .block:nth-of-type(2n) .img .num {
    right: auto;
    left: -60px;
}

.price .info-block .block {
    position: relative;
    background: var(--text);
    color: var(--text-w);
    padding: 39px 34px;
    border-radius: 10px;
    z-index: 1;
    min-height: 481px;
    display: flex!important;
    flex-wrap: wrap;
    align-items: flex-end;
}

.price .info-block .block .text {
    position: relative;
    border-top: 1px solid var(--text-w);
    border-bottom: 1px solid var(--text-w);
    padding: 5px 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.price .info-block .block .text h2 {
    text-align: center;
}

.price .info-block .block .text .info {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .7s;
}

.price .info-block .block:hover .text .info {
    margin: 36px 0;
    max-height: 450px;
    opacity: 1;
}

.price .info-block .block .text .info .money {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

.price .info-block .block .text .info .money span {
    font-weight: 600;
}

.price .info-block .block .text .info .desc {
    position: relative;
    margin-bottom: 18px;
    padding-left: 38px;
}

.price .info-block .block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text);
    opacity: .7;
    z-index: 0;
    border-radius: 10px;
}

.price .info-block .block1,
.price .info-block .block2,
.price .info-block .block3,
.price .info-block .block4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.price .info-block .block1 {
    background-image: url('../image/price/img1.jpg');
}

.price .info-block .block2 {
    background-image: url('../image/price/img2.jpg');
}

.price .info-block .block3 {
    background-image: url('../image/price/img3.jpg');
}

.price .info-block .block4 {
    background-image: url('../image/price/img2.jpg');
}

.price .info-block .block .text .info .desc::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../image/bullet-point.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.application .block {
    margin: 0 64px;
    padding: 18px 72px;
    background-color: var(--gold);
    border-radius: 10px;
}

.application .block h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 18px;
}

.application .block span {
    text-align: center;
    display: block;
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba(29, 29, 31, 0.1);
}

.application .block form {
    display: flex;
    justify-content: space-between;
}

.application .block form input {
    padding: 8px 14px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid rgba(29, 29, 31, 0.3);
    background: transparent;
    color: rgba(17, 17, 17, 0.5);
    margin-right: 15px;
    font-size: 18px;
}

.application .block form input:last-of-type {
    margin-right: 0;
}

.application .block form input[type='submit'] {
    color: var(--text);
    cursor: pointer;
    width: auto;
    flex: 1;
}

input::-webkit-input-placeholder {
    color: rgba(17, 17, 17, 0.5);
}

.application .block .agreement {
    color: rgba(29, 29, 31, 0.3);
    margin-top: 18px;
    width: 478px;
}

.application .block .agreement a {
    color: rgba(29, 29, 31, 0.3);
    text-decoration: underline;
}

.application .block form input:nth-of-type(1),
.application .block form input:nth-of-type(2) {
    flex: 3;
}